# OS X
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log
*.log.*

# Local/scratch folders
scratch/
.system_generated/
.gemini/
